{
  "extends": "airbnb",
  "env": {
    "browser": "true",
    "node": "true",
    "jquery": "true"
  },
  "rules": {
      "space-in-parens": ["error", "always"]
    },
  "plugins": ["html", "markdown"]
}